---
import {getCollection} from "astro:content";
import type {Holiday} from "../../interfaces/holidays/holiday";
import {HolidayCard} from "../../components/holidays/HolidayCard";
import ArchiveLayout from "../../layouts/ArchiveLayout.astro";

const holidaysCollection = await getCollection("holidays_2026");

const holidays = holidaysCollection.map(holidayItem => ({
  id: holidayItem.id,
  ...holidayItem.data
})) as Array<Holiday & { id: string }>;
---
<ArchiveLayout
  year={2026}
>
    <div class="flex flex-col w-full my-6 gap-4">
        {
            holidays.map((holiday) => (
              <HolidayCard holiday={holiday}/>
            ))
        }
    </div>
</ArchiveLayout>