---
import {Navbar} from "./Navbar";
import {linkList} from "../../utils/data/links-archive";
---
<footer class="text-sm flex flex-col items-center text-gray-500">
    <Navbar client:load linkList={linkList}/>
    <p>Feriados de Chile {new Date().getFullYear()} - <a href="https://feriados-chile.com" target="_self">feriados-chile.com</a>
    </p>
    <p>Desarrollado por <a href="https://uncodigo.com/" target="_blank" rel="noreferrer noopener">Felipe</a></p>
</footer>