---
const isSingle = Astro.url.pathname !== "/";
---

{
    isSingle ? (
        <h2 class="flex items-center gap-2 text-3xl font-bold text-center">
            <slot />
        </h2>
    ) : (
        <h1 class="flex items-center gap-2 text-3xl font-bold text-center">
            <slot />
        </h1>
    )
}
